.inputBar{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px 10px -10px;
    background-color: #FFDBB5;
    padding: 10px;
    border-radius: 15px;
}

input{
    flex: 1;
    background-color: #f6e0c9dd;
    font-size: 18px;
    width : 150px;
    border: 1px solid rgba(255, 255, 255);

}
.supplier{
    flex: 1;
    font-size: 18px;
    width : 150px;
    border: 1px solid rgba(255, 255, 255);
}
.submitButton{
    color:white;
    text-align: center;
    border: 1px black solid;
    width: 200px;
    height: 30px;
    font-size: 20px;
    padding-top: 7px;
    background-color: #603F26;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px auto 0px auto;
    cursor: pointer;
}

.addSupplierContainer{
    width : 400px;
    margin: 100px auto 0px auto;
}