.inputBar{
    display: flex;
    justify-content: space-between;
    margin: 50px auto 20px auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    width: fit-content;
}

.inputBar input{
    flex: 1;
    background-color: #fff;
    font-size: 18px;
    border: 2px solid #00000011;
    border-radius: 5px;
    margin: 0px 5px;
    padding: 5px 10px;
}

input{
    flex: 1;
    background-color: #fff;
    font-size: 18px;
    width : 150px;
    border: 1px solid #0000002d;
    margin: 0px 5px;
}
.supplier{
    flex: 1;
    font-size: 18px;
    width : 150px;
    border: 2px solid #00000011;
    border-radius: 5px;
    background-color: #fff;
    color: rgb(126, 126, 126);
}
.submitButton{
    color: #fff;
    text-align: center;
    width: 200px;
    height: 30px;
    font-size: 20px;
    padding-top: 7px;
    background-color: #29a4a4;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px auto 0px auto;
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}
.submitButton :hover{
    background-color: #1c6d6a;
}
.addSupplierContainer{
    width : 600px;
    margin: 0px auto;
}

.selectProduct{
    width: 400px;
    border: 2px solid #00000011;
    font-size: 18px;
    margin: 0px 5px;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 4px;
}