.modalBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.51);
  }
  
  .modalContainer {
    width: 700px;
    height: 500px;
    border-radius: 12px;
    background-color: #edf6f9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    color: #555;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer .body {
    font-size: 18px;
    margin: 20px 0px;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: end;
    align-items: end;
  }
  
  .modalContainer .footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: crimson;
  }

  .form-group{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 15px;
    background-color: #0000000a;
    }

  .form-group label{
    width: 150px;
    color: #555;
    padding: 5px;
    font-weight: bold;
    }

  .form-group input{
    border-radius: 5px;
    border: none;
  }